.task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskForm input {
  width: 39.875rem;
  height: 3.375rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: var(--gray-300);
  background: var(--gray-500);
  border: 0.063rem solid var(--gray-700);
}

.taskForm input:focus {
  color: var(--gray-100);
  border: none;
}

.taskForm button {
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background: var(--blue-dark);
  transition: background-color 0.2s;
}

.taskForm button span {
  font-weight: bold;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--gray-100);
}

.taskForm button:hover {
  background: var(--blue);
}
