.container {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.container aside {
  display: flex;
  gap: 0.5rem
}

.createdTasks {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--blue);
}

.completedTasks {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--purple);
}

.counters {
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
}
